@font-face {
    font-family: Impact;
    src: url('../../assets/impact/impact.ttf');
    /*src: url(sansation_light.woff);*/
}




.suscription-mainDivMobile{
    background: url(./../../assets/images/subscription/subscription_gray.png),
    radial-gradient(60.50px at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
    #FFFFFF;

    /*mix-blend-mode: luminosity;*/


    /*background-color: #FFFFFF;*/
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;



    /*-webkit-filter: grayscale(100%); !* Safari 6.0 - 9.0 *!*/
    /*filter: grayscale(90%);*/
    /*CHECK WITH FIXED VALUE*/
    /*background: #FFFFFF url('./../../assets/images/subscription/mobile/Rectangle.png')no-repeat fixed 100% center;*/
    /*position: absolute;*/
    /*width: 375px;*/

    /*height: 121px;*/
    /*changed from 121px on 28th july 2019*/
    height: 131px;
    /*left: 0px;*/
    /*top: 1730px;*/
    /*background: url(Softbakso (10).jpg), #FFFFFF;*/
    mix-blend-mode: luminosity;
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-position:  100% center;*/
    /*background-origin: content-box;*/
    /*height: 280px; !* You must set a specified height *!*/
    /*446px; total*/
    /*background-repeat: no-repeat; */
    /* Do not repeat the image */

    /* Resize the background image to cover the entire container */
    opacity: 1;
    /*mix-blend-mode: multiply;*/
}

/*outer div of the form for mobile subscription*/
.simple-subscription-form-Mobile {
    /*text-align: center;*/
    padding: 2rem;
    border-radius: 0;


    position: relative;
    margin:0 auto;

    /*top: 40%;*/
    left: 5%;
    top:15%;



    /*filter: alpha(opacity=100);*/

}
.simple-subscription-form-Mobile:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


.subscription-Text-Mobile{
    /*position: absolute;*/
    /*width: 180px;*/
    /*height: 10px;*/
    /*left: 46px;*/
    /*top: 1766px;*/

    font-family: 'Quicksand', sans-serif;
    /*font-family: 'quicksand', */
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height */


    margin: 0;
    padding: 0;
    color: #000000;
}



.subscription-Text-Mobile Strong {
    font-size: 10px;
}
/*input-containerMobile{*/


/*!*display: flex;*!*/
/*width: 100%;*/

/*!*margin-bottom: 15px;*!*/
/*}*/
/* Style the form icons */


.input-fieldMobile {
    width: 75%;
    /*padding: 10px;*/
    outline: none;
    background: rgba(196, 196, 196, 0.34);
    border: 0.8px solid #000000;
    /*border: 0.8px solid #FFFFFF;*/
    box-sizing: border-box;
    padding-top: 9px;
    /*width: 40%;*/

    /*outline-style: solid;*/
    /*background: transparent;*/
    /*outline-color: yellow;*/
    /*width:70%;*/
}
.iconMobile {
    border: 0.8px solid #000000;
    box-sizing: border-box;
    /*padding: 7px;*/
    background: whitesmoke;
    color: black;
    min-width: 40px;
    text-align: center;

    padding-top: 14px;
    /*padding-right: 17px;*/
    padding-bottom: 8px;


}






/*.fa-paper-plane {*/
/*!*color: #fff;*!*/
/*!*font-size: 30px;*!*/
/*transform: rotate(45deg);*/
/*}*/


/* Style the input fields */




/*
MAY NEED THIS LATER.
.inputAndIconDiv-web:hover, inputAndIconDiv-web:focus{*/
/*border: 3px solid dodgerblue;*/
/*width:54%;*/

/*}*/


input:hover, input:focus {
    /*border: 3px solid dodgerblue;*/
    /*background: #C4C4C4;*/
    /*border: 1px solid #FF0000;*/
    color: black;
}


/* Style the form icons */



/*input:focus {*/

/*}*/




.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}




