@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Puritan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

.displayErrors input:invalid {
    border-color: red;
}

.displayErrors textarea:invalid {
    border-color: red;
}

/* app */
.overFlow {
    overflow-x: hidden;
}

/* navbar css */
.nav.navbar-nav.navbar-right{
    margin-right: 0;
}

.navbar .navbar-toggler .icon-bar {
    background: black !important;
    border-color: transparent;

}

.navbar-toggle.collapsed:focus,
.navbar-toggle.collapsed {
    background-color: transparent !important;
}

.navbar-toggle:focus,
.navbar-toggle.collapsed:hover {
    background-color: #FFCE00 !important;
}

/*.navbar .navbar-header .tagline-bakso{*/



/*@media only screen and (min-width: 600px) and (max-width: 1200px) {*/
/*@media only screen and (max-width: 700px)  {*/
/*    .navbar .tagline-bakso {*/
/*     */
/*        font-family: 'Quicksand', sans-serif;*/
/*        font-style: italic;*/
/*        !*font-weight: normal;*!*/
/*        font-size: 2vmin;*/
/*        font-weight: bold;*/
/*        display: flex;*/
/*        padding-top:20px;*/

/*    }*/
/*}*/

/*@media only screen and (min-width: 600px) and (max-width: 1200px) {*/

/*
@media only screen and (min-width: 700px) and (max-width: 1200px) {
    .brandlogo{
        float: left;
        margin-left: 50px;
    }
    .tagline-bakso {
        font-family: Quicksand,sans-serif;
        display: block;
        font-size: 12px;
        position: absolute;
        top: 60%;
        padding-left: 18%;
    }
}



@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    .brandlogo {
        float: left;
        margin-left: 90px;
    }

    .tagline-bakso {
        font-family: Quicksand, sans-serif;
        display: block;
        font-size: 12px;
        position: absolute;
        top: 60%;
        padding-left: 10%;
    }
}

@media only screen and (min-width: 1500px) and(max-width: 1900px) {
    .brandlogo {
        float: left;
        margin-left: 80px;
    }

    .tagline-bakso {
        font-family: Quicksand, sans-serif;
        display: block;
        font-size: 11px;
        position: absolute;
        top: 60%;
        padding-left: 7%;
    }
}

@media only screen and (min-width: 1900px) {

    .brandlogo {
        float: left;
        margin-left: 50px;

    }

    .tagline-bakso {
        font-family: Quicksand, sans-serif;
        display: block;
        font-size: 14px;
        position: absolute;
        top: 60%;
        padding-left: 7%;
    }
}

*/




@media only screen and (min-width: 1900px) {

    .brandlogo {
        float: left;
        margin-left: 50px;

    }

    .tagline-bakso {
        font-family: Quicksand, sans-serif;
        display: block;
        font-size: 14px;
        position: absolute;
        top: 60%;
        padding-left: 13%;
    }
}


@media only screen and (min-width: 1600px) and (max-width: 1900px) {

    .brandlogo {
        float: left;
        margin-left: 50px;

    }

    .tagline-bakso {
        font-family: Quicksand, sans-serif;
        display: block;
        font-size: 14px;
        position: absolute;
        top: 32%;
        padding-left: 13%;
    }
}


@media only screen and (min-width: 1200px) and (max-width:1600px) {

    .brandlogo {
        float: left;
        margin-left: 50px;
    }
    .tagline-bakso {
        font-family: Quicksand, sans-serif;
        display: block;
        font-size: 14px;
        position: absolute;
        top: 32%;
        padding-left: 15%;
    }
}

@media only screen and (min-width: 1000px) and (max-width:1281px) {

    .brandlogo {
        float: left;
        margin-left: 50px;
    }
    .tagline-bakso {
        font-family: Quicksand, sans-serif;
        display: block;
        font-size: 14px;
        position: absolute;
        top: 32%;
        padding-left: 17%;
    }

    .getTouchFont {
        font-size: 25px !important;
        padding-top: 0;
    }

    .contactDiv {
        height: 85vh;
    }
}

/*@media only screen and (min-width: 600px) and (max-width: 1200px) {*/
@media only screen and (min-width: 720px) and (max-width: 1000px) {
    .brandlogo {
        float: left;
        margin-left: 0px;
    }

    .tagline-bakso {
        font-family: Quicksand, sans-serif;
        display: block;
        font-size: 12px;
        position: absolute;
        top: 30%;
        padding-left: 24%;
    }

    .getTouchFont {
        font-size: 25px !important;
    }
}

/*@media only screen and (min-width: 600px) and (max-width: 1200px) {*/
@media only screen and (min-width: 615px) and (max-width: 720px) {
    .brandlogo {
        float: left;
        margin-left: 50px;
    }

    .tagline-bakso {
        font-family: Quicksand, sans-serif;
        display: block;
        font-size: 8px;
        position: absolute;
        top: 30%;
        padding-left: 23%;
    }
}

/*@media only screen and (min-width: 600px) and (max-width: 1200px) {*/
@media only screen and (max-width: 700px) {
    .brandlogo {
        float: left;
        margin-left: 5px;
    }

    .tagline-bakso {
        width: 75%;
        font-family: Quicksand, sans-serif;
        display: block;
        font-size: 8px;
        position: absolute;
        top: 6%;
        padding-left: 23%;
    }
}


/*@media only screen and (max-width: 700px)  {*/
/*    .navbar .tagline-bakso {*/
/*        !*display: none;*!*/
/*        font-family: 'Quicksand', sans-serif;*/
/*        font-style: italic;*/
/*        !*font-weight: normal;*!*/
/*        font-size: 2vmin;*/
/*        font-weight: bold;*/
/*        display: flex;*/
/*        padding-top:20px;*/
/*        !*font-weight: bold;*!*/
/*        !*font-size: 8px;*!*/
/*        !*line-height: 10px;*!*/
/*        !* identical to box height *!*/
/*        !*bottom:5vmin;*!*/

/*    }*/
/*}*/




.navbar-inverse {
    border-color: transparent;
}


.navContainer {
    /* margin-top: 2vh;*/
    /*border: none;*/
    /*CHANGED UPON Arafat Vai's recommendation on august 07 2019'*/
    background-color: #FFCE00;
    /*margin-bottom:20px;*/
    /*padding-top:10px;*/
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
    /*height*/
}

.form-control {
    height: 4vh;
    background: gray;
    border: 1px solid #FFCE00;
    color: #282c34;
}

.multline {
    height: 12vh !important;
}

.buttonDes {
    border-radius: 20px;
    background-color: #FFCE00;
    width: 150px;
    font-weight: bold;
    color: black;
    margin: 20px auto;
    display: block;
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 14px;

    font-family: 'Quicksand', sans-serif;

    /*font-family: quicksand;*/
}

.whiteText {
    color: white !important;
}

.blackText {
    color: black !important;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: transparent;
    /*border: 1px solid gold;*/

}


.collapseColor {
    background-color: transparent !important;
}

.navMargin {
    padding-top: 10px;
    padding-bottom: 10px;
    /*margin-bottom:5px;*/
}

/*.navbar-inverse .navbar-nav> li > a:hover {*/
/*    color: black !important;*/
/*}*/

.active {
    color: #FFCE00 !important;
}

.navHeader {
    height: 8vh;
    width: 220px;
    margin-top: -20px;
    margin-left: -15px !important;
    background-color: transparent !important;
}

.headerLogo {
    margin-top: 0;
    margin-left: 50px;
    height: auto;
}

.linkFont {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    /*font-family: Roboto;*/
    font-weight: normal;
    cursor: pointer;
}

/* home page css start */

.homePage {
    height: 100vh;
}

.homeBody {
    padding-top: 10vh;
    height: 100vh;
    background-image: url("../images/softbaksoheader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.mobileHome {
    height: 81vh;
}

.homeTitle {
    color: white;

    font-family: 'Rancho', sans-serif;
    /*font-family: Rancho;*/
    font-weight: normal;
    text-align: right;
    font-size: 50px;
    margin-bottom: 0px;
}

.homeSubtitle {
    margin-top: 20%;
}

.learnDiv {
    float: right;
    color: #FFCE00;
}

.learnText {
    font-family: 'Quicksand', sans-serif;
    /*font-family: quicksand;*/
    font-weight: bold;
    font-size: 34px;
}

.learnText {
    font-weight: bold;
    display: inline-block;
}

.learnVideo {
    height: 20%;
    width: 20%;
    background-color: #FFCE00;
    display: inline-block;
}

.leftCircle {
    height: 50px;
    width: 30px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #FFCE00;
    margin-top: 30vh;
    margin-left: 5px;
    float: right;
}

.mobileSendIcon {
    transform: rotate(-45deg);
    margin-top: 12px;
    height: 32px;
    margin-left: 5px;
}

.homeBottom {
    margin-bottom: 50px !important;
}


/* Contact Form */

.contactDiv {
    background-color: #565454;
    height: 80vh;
    margin-top: 6%;
    text-align: center;
    border: 1px solid #FFCE00;
    margin-left: 5%;
    padding: 0px;
}

.contactHeader {
    height: 9vh;
    background-color: #FFCE00;
    color: #282c34;
    font-family: 'Quicksand', sans-serif;
}

.getTouchFont {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    padding-top: 12px;
    letter-spacing: -2px;
    font-weight: bold;
    text-transform: capitalize;
}

.formDiv {
    height: 50vh;
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight: lighter !important;
}

.formInput {
    border: 1px solid #FFCE00;
    border-radius: 7px;
    background-color: transparent;
    width: 95%;

}

.inputDiv {
    margin-left: 8%;
    margin-right: 5%;
}


.formLabel {
    font-family: 'Purtian', sans-serif;
    /*font-family: Purtian;*/
    font-weight: normal;
    font-size: 12px;
}

.formFooter {
    height: 6vh;
}

.sendIcon {
    height: 6vh;
}

.sendFont {
    font-family: 'Purtian', sans-serif;
    /*font-family: Purtian;*/
    font-weight: normal;
    font-size: 22px;
}


.contactInput {
    border: 1px solid #FFCE00;
}

.homeFooter {
    position: sticky;
    margin: auto 0;
    bottom: 0px;
}

.footerIcon {
    height: 90px;
    width: 90px;
}

.modalDesign {
    border-radius: 0px;
    background-color: #565454;
}

.modal-content {
    border: none;
}

.modal-header {
    border: none;
    padding: 0px;
}
.modal-footer {
    text-align: center;
    padding: 0px;
    border: none;
}

/* home page css end */

/* about page css start */

.aboutDiv {
    height: 100%;
    padding-top: 5%;
    margin-left: 15%;
    text-align: left;
}

.hrDiv {
    width: 60%;
}

.hrAbout {
    height: 2px;
    font-weight: bold;
    border: none;
    color: #000000;
    background-color: #000000;
    width: 100%;
    margin: 2px auto;
    margin-bottom: 35px;
}

.galleryFont {

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 5px;
    padding-top: 2%;
    color: white;
}

.aboutFont {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    margin-bottom: 5px;
    padding-top: 2%;
}

.addFont {
    color: #000000;
    /*padding-top: 3.5%;*/
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
}


.aboutImage {
    margin-top: 20%;
    height: 45vh;
    width: 45vh;
    border-radius: 50%;
}

.paraFont {
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}

.strongFont {
    font-weight: bold;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'quicksand';*/
    color: black;
}

.tint {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, .2) 3px 5px 5px;
    border-radius: 280px;
}

.tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    transition: all .3s linear;
    border-radius: 280px;
}

.tint:hover:before {
    background: none;
}

/* skill component */

.userDiv {
    height: 140vh;
    margin-top: 3%;
}

.skillHeader {
    text-align: center;
    height: 50vh;
}


.skillItem {
    margin-top: 5%;
}

.skillIcon {
    font-size: 30px;
    float: left;
}

.skillBar {
    float: right;
}

/* partner component */

.partnerDiv {
    background-image: url("../images/partnerShip.png");
    color: white;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.partnerHeader {
    background-color: #282c34;
    color: white;
}

.borderLogo {
    border: 2px solid lightgrey;
    margin-top: -10px;
}

.logoDiv {
    margin-top: 2%;
    margin-bottom: 2%;
}

/* work process */
.processDiv {
    height: 50vh;
    text-align: center;
}

.underlineBorder {
    border-bottom: 2px solid black;
    width: 60%;
    margin-left: 20%;
}

.processFont {
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Quicksand', sans-serif;
    /*font-family: quicksand;*/
    color: black;
}

.tabDesign {
    margin-left: 11%;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #ddd;
}

.tabText {
    margin-top: 10%;
    text-align: left;
}

.contentMargin {
    margin-top: 3%;
}

.tabImage {
    height: 250px;
    width: 250px;
}

/* blog component */
.blogDiv {
    height: 90vh;
    text-align: center;
    margin-top: 8% !important;
}

.blog {
    margin-top: 5%;
    height: 354px;
    border: 1px solid #e6e2e2;
}

.blogFont {
    color: #000000;
    text-align: center;
    /*padding-top: 3.5%;*/
    padding-top: 18px;
    margin-bottom: 10px;
    /*font-family: quicksand sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
}

.rectangle {
    display: block;
    height: 350px;
    background: transparent;
    position: relative;
    border: 1px solid #e6e2e2;
}

.circle {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid white;
    left: 50%;
    margin-left: -35px;
    top: -30px;
}

.blogger {
    box-shadow: 3px 3px 2px 2px #ccc;
    height: 350px;
    width: 230px;
    background-color: #dddddd;
}

.imageDiv {
    height: 40%;
    padding-top: 18%;
}

.bioFont {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
}

.pageDiv {
    margin-top: 4%;
}

.iconBox {
    box-shadow: 3px 3px 2px 2px #ccc;
    height: 30px;
    width: 30px;
    background-color: #dddddd;
    margin: 5px;
}

.iconDes {
    margin-left: -5px;
}

.bloggerImage {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: #afaaaa;
}

.blogMargin {
    margin-left: -35px;
    margin-top: -5px;
}

/* news div */

.newsDiv {
    background-image: url("../images/newsletterparallax.png");
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.iconSent {
    font-size: 40px;
}

.iconDiv {
    background-color: white;
    height: 7vh;
    width: 7vh;
    float: right;
    margin-top: -5.1%;
}

.newsInput {
    border: 1px solid #3a3ad8;
    border-radius: 0px;
    background-color: transparent;
    width: 95%;
    height: 7vh;
    margin-top: 15vh;
    float: left;
}

.heightClass {
    height: 90vh !important;
}


/* portfolio sidebar */
.sidebarMargin {
    margin-top: 10vh !important;
}

/*service details*/

.serviceModalCon {
    background-color: transparent;
}

.serviceModal {
    height: auto;
    width: 90%;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    padding: 0px;
    overflow-y: sroll;
}
.serviceHeader {
    height: 10vh !important;
    background-color: #E5E5E5;
    color: #282c34;
    font-family: 'Roboto', sans-serif;
    /*font-family: Roboto;*/
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.serviceModalBtn {
    border-radius: 17px;
    background-color: #A782FF;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);
    width: 103px;
    height: 30px;
    font-weight: bold;
    color: black;
    font-size: 8px;
}

.serviceHeaderIcon {
    height: 4vh;
    margin-top: 10px;
}

.serviceHeaderLeftIcon {
    height: 3vh;
}

.serviceHeaderRightIcon {
    height: 4vh;
}

.serviceHeaderText {
    font-size: 12px;
    font-weight: 300;
}

.serviceModalText {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.serviceBodyHeader {
    padding-top: 8vh;
    color: #000000;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.backImage {
    height: 62vh !important;
    width: 100%;
    background-image: url("../images/serviceIcons/serviceModalBack.png");
    background-repeat: no-repeat !important;
    background-size: cover !important;
    text-align: left !important;

}

/*.a.icon-block-happyMoments{*/
/*display:inline-block;*/
/*width:10em;*/
/*float:left;*/
/*text-align:center;*/
/*!*font-family: 'Questrial', sans-serif;*!*/
/*!*color: black;*!*/
/**/
/*}*/

/*a.icon-block-happyMoments i,*/


.serviceFooter {
    width: 100%;
    text-align: left;
    background-color: #E5E5E5;
    height: 10vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.servFtrMrgn {
    padding-top: 1vh;
    font-size: 10px;
}

.ftrright {
    margin-top: -1.5%;
    padding-right: 3%;
    float: right !important;
}

.ftrlft {
    margin-top: -1.5%;
    padding-left: 3%;
    float: left !important;
}

.serviceFtrTxt {
    padding-top: 10px;
    padding-left: 3.2%;
    font-size: x-small;
}

.footerServiceIcon {
    height: 3vh;
}

.btnClass {
    background-color: #A782FF;
    height: 30px;
    width: 100px;
    border-radius: 17px;
    border: none;
    font-size: 12px;
}

/* happy moments */

.momentDiv {
    /*background-color: #1b6d85;*/
    /*background-color: #FFFF00;*/
    background-color: darkslategrey;

    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.photoDiv {
    padding-top: 5%;
}

.photoRight {
    width: 100%;
    height: 70vh;
}

.photoLeft {
    height: 35vh;
    width: 100%;
    display: block;
}

.padImage {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.cont1:hover .overlay {
    opacity: 1;
}

.cont2:hover .overlay {
    opacity: 1;
}

.cont3:hover .overlay {
    opacity: 1;
}

.cont4:hover .overlay {
    opacity: 1;
}

.cont5:hover .overlay {
    opacity: 1;
}

.moreImage {
    font-size: 45px;
    padding-left: 5px;
}

.moreContact {
    margin-top: -23px;
    margin-left: 2px;
}

.bottomRight {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.discoverText {
    font-size: 12px;

    font-family: 'Questrial', sans-serif;
    /*font-family: Questrial;*/
    color: black;
}

.hrTag {
    height: 2.13px;
    font-weight: bold;
    border: none;
    color: #000000;
    background-color: #000000;
    width: 10%;
    /* margin: 0 auto;*/
}


/* portfolio work */
.workHeader {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    margin: 0 auto;
    text-align: center;
    color: black;
}

.workSubtitle {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 45px;
    margin: 0 auto;
    text-align: center;
    color: darkgray;
}

.btn-block {
    text-align: center;
}

.gridImage {
    width: 100%;
    transition-duration: .3s;
    max-width: 100%;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.gridBlock {
    width: calc(24.5% - 6px);
    overflow: hidden;
    height: fit-content;
    margin: 5px;
    padding: 0;
    display: block;
    position: relative;
    float: left;
}

.title {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 50%;
    display: none;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.6em;
    text-shadow: 1px 5px 10px black;
    transition-duration: .3s;
}

.gridBlock:hover img {
    transform: scale(1.2);
    transition-duration: .3s;
    filter: grayscale(50%);
    opacity: 1;
}

.gridBlock:hover .title {
    color: white;
    display: block;
    transition-duration: .3s;
}

.typeButton {
    color: #fff;
    font-weight: 900;
    background-color: #FFCE00 !important;
    border: none !important;
}

.typeButton:hover,
.typeButton:focus {
    background: #000000 !important;
}

@media only screen and (max-width: 1200px) {
    .gridBlock {
        width: calc(32.5% - 6px);
    }
}
@media only screen and (max-width: 900px) {
    .gridBlock {
        width: calc(48.5% - 6px);
    }
}
@media only screen and (max-width: 400px) {
    .gridBlock {
        width: 95%;
        margin: 8px;
    }
    .typeButton {
        font-size: 5px;
    }
}

@media screen and (max-width: 760px) {
    /* nav */
    .headerClass {
        margin-top: -15px;
    }

    .headerLogo {
        height: auto;
        margin-left: 0px;
    }

    .navMargin {
        margin-top: 0px;
    }

    .navHeader {
        margin-top: -15px;
    }

    /* home */

    .contactDiv {
        height: 90vh;
    }

    .contactHeader {
        height: 10vh;
        margin-top: 15px;
    }

    .form-control {
        height: 4vh;
    }

    .modal-header {
        height: 10vh;
    }

    .modal-body {
        height: 79.8vh;
    }

    .modal-footer {
        height: 6vh;
    }

    .learnVideo {
        margin-left: 20px;
        height: 40px;
        width: 40px;
        background-color: #FFCE00;
        display: inline-block;
    }

    .homeTitle {
        margin-bottom: 0px !important;
        font-size: 40px;
    }



    .homeSubtitle {
        margin-top: 30%;
    }

    .mobileHome {
        padding-top: 4vh;
        height: 70vh;
    }
    .formInput {
        border: 1px solid #FFCE00;
        border-radius: 0px;
        background-color: transparent;
        width: 95%;
        height: 40px;
    }

    .formDiv {
        padding-top: 0px;
        margin-top: -10px;
    }

    .formLabel {
        font-size: 13px;
    }

    /* about */

    .aboutDiv {
        padding-top: 0%;
    }

    .aboutFont {
        font-size: 24px;
    }

    .addFont {
        font-size: 17px;
    }
    .aboutImage {
        height: 25vh;
        width: 25vh;
        margin: 9% auto !important;
        display: block;
    }

    p {
        font-family: 'Quicksand', sans-serif;
    }

    .paraFont {
        font-size: 12px;

        font-family: 'Quicksand', sans-serif;
        /*font-family: quicksand;*/
        font-weight: lighter;
        color: black;
        margin-bottom: 0px;
    }

    .processFont {
        font-size: 11px;
    }

    .rectangle {
        height: 340px;
        margin-top: 30px;
    }

    .blogger {
        height: 350px;
        width: 180px;
    }

    .blogFont {
        font-size: 30px;
    }

    .bioFont {
        font-size: 16px;
        margin-top: 12%;
        margin-bottom: 0;
    }

    .portfolioBody {
        margin-top: 10vh;
    }

    .padImage {
        padding-left: 15px;
        padding-right: 15px;
    }

    .overlay {
        width: 90%;
    }

    .photoDiv {
        padding: 3%;
    }

    .mobilePhoto {
        height: 35vh;
    }

    .photoRight {
        width: 100%;
        height: 35vh;
    }

    .serviceModal {
        margin-left: 5%;
    }
    .serviceBodyHeader {
        padding-top: 2vh;
    }

    .serviceModalText {
        font-size: 10px;
    }
    .serviceFtrTxt {
        margin-bottom: 0px;
    }

    .hrTag {
        width: 20%;
    }

    .hrDiv {
        width: 45%;
        margin-left: 20%;
    }
}

@media screen and (min-width: 760px) and (max-width: 1200px) {
    .aboutImage {
        height: 30vh !important;
        width: 30vh !important;
        margin-top: 40vh !important;
    }

    .processFont {
        font-size: 14px;
    }

    .bioFont {
        margin-top: 4%;
    }
}




@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-flicker {
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}
